footer h3{
	margin-top: 15px;
	text-align: center;
}
header h1{
	text-align: center;
}
nav li{
	display: inline-block;
	margin-right: 1%;
}
nav li a{
	text-decoration: none;
}

.btnVolver{
	-webkit-transform: translateX(-83px);
}
.center{

	/*text-align: center;*/
}
.centrarGrupo{

}

.centrarTabla{
	margin: 0 auto;
}

caption{
	-webkit-transform: translateX(85px);
}
.tablaPacienteHover td{
	cursor: pointer;
}
.btnBuscar{
	width: 150px;
	
}
.btnVolverAncho{
	width: 155px;
}